<!DOCTYPE html>
<html>
<head>
  <title>Welcome Page</title>
  <link rel="stylesheet" href="styles.css">
  <script src="scripts.js"></script> 
</head>

<body>
  <header class="header">
    <h1> &nbsp;Dominic Kristopher Verna</h1>
    <div class="button-container">
      <a href="files/Dominic K Verna Resume 06-08-23.pdf" download class="button">My&nbsp;Resume</a>
    </div>
    <div class="button-container">
      <a href="https://github.com/domkverna" class="button" target="_blank">My&nbsp;Github</a>
    </div>

  </header>

  <p class="about-me" style="font-size: 50px;">

  </p>
  <div class="center-container">
    <img src="files/upscaled.jpg" alt="Dominic Verna on Bass" style="width: auto; height: 475px; clip-path: circle(); margin: 10px;">
  </div>
  <p style="font-size: 80px; margin: 0;">
    Dominic Verna
  </p>
  <p style="font-size: 40px; margin: 0; font-style: italic;">
    Senior at UM-Flint, Computer Scientist, Musician
  </p>
  <div style="text-align: center; margin-top: 40px;">
    <button class="button-in-body" onclick="scrollToBottom()" target="_blank">More&nbsp;About&nbsp;Me</a>
  </div>

</body>
</html>